{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.course) }}
    {{ form_row(form.school) }}   
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.address) }}
    {{ form_row(form.postcode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.phoneNo) }}
    {{ form_row(form.mobileNo) }}  
    {{ form_row(form.email) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}
