{% extends 'base.html.twig' %}
{% block body %}

<h2 class="page-header">View Employer Risk Assessment</h2>


<h1>Upload Employer Risk Assessment</h1>
{{ form_start(empRiskAssForm) }}
{{ form_row(empRiskAssForm.location) }}
{{ form_end(empRiskAssForm) }}
<br>
{% if msg is defined %}
<div class="row">
<div class="col-md-6"><p> {{ msg }}</p></div>
{% if msg == 'You need to upload an Employer Placement Aggreement document before uploading an Employer risk assessment document.' %}
<div class="col-md-offset-6"><a  href="{{ path('emp_placement_aggreement') }}">upload employer placement aggreement</a></div>
{% endif %}
</div>
{% endif %}

<table class="table table-striped">
 <thead>
<tr>

<th> Employer Risk Assessment</th>
<th> Date Uploaded</th>
<th> Last modified</th>
<th> Status</th>

</tr>
</thead>

<tbody>
<tr>
{% if empRiskAss %}
<td> <a href="{{ asset('documents/emp_risk_assessments/' ~ empRiskAss.location) }}">View Employer risk assessment</a></td>
<td> {{ empRiskAss.dateUploaded|date("d/m/Y") }}</td>
<td> {{ empRiskAss.lastModified|date("d/m/Y") }}</td>
<td> {{ empRiskAss.status }}</td>

</tr>
{% endif %}
<br>
<div class="row">
  <div class="col-md-4"><p>Student ID: {{ username }}</p></div>
  <div class="col-md-4 col-md-offset-4"><a class="btn btn-primary" href="{{ path('student_home') }}" role="button">back to homepage</a></div>
</div>
<br>

</tbody>
</table>

<br>
{% if notes is defined %}
 {% for note in notes %}   
        <div class="card text-center">
  <div class="card-header">
    Posted by: {{ note['name'] }}
  </div>
  <div class="card-block">
    
    <p class="card-text">{{ note['notes'] }}</p>
    
  </div>
  <div class="card-footer text-muted">
    Posted on: {{ note['time']|date("d/m/Y") }}
  </div>
</div>
<br>
{% endfor %}     
{% endif %}

<br>

{{ form_label(form.notes, 'Leave a comment:') }}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
